*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.bg-blue{
    background-color: #0E86D4;
    height: 40%;
}

.bg-xam{
    background-color: #EBEBEB;
    height: 60%;
}

.container .logo-money{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
}

.logo-money .namew{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 20px;
}

.logo-money img{
    width: 80%;
}

.content{
    background-color: #fff;
    width: 500px;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    border-radius: 20px;
    text-align: center;
}

.content .log-in{
    padding: 30px 0 20px 0;
}

.main-ct{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.desc{
    color: #707070;
    padding-bottom: 10px;
    font-size: 15px;
}

.main-ct .email, .pw{
    width: 100%;
    position: relative;
}

.main-ct input{
    width: 100%;
   padding: 15px 10px;
   margin-top: 10px;
   background-color: #f5f5f5;
   border-radius: 5px;
   border: none;
   outline: #0E86D4; 
}

.pw i{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 45%;
} 

.main-ct .forgot{
    color: #3D70FF;
    padding: 10px 0 15px 0;
    text-align: end;
    cursor: pointer;
    font-size: 15px;
}

.forgot:hover{
    color: black;
}

.main-ct .btn-login{
    padding: 10px;
    background-color: #3D70FF;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.main-ct .btn-login:hover{
    opacity: 0.8;
}

.main-ct .noaccount{
    padding: 15px 0 30px 0;
    font-size: 15px;
}

.main-ct .register{
    color:#3D70FF;
}

.noaccount .register:hover{
    color: black;
}

