*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-image
{
  display: flex !important;
}
img{
  width: 230px;
}
/* .kodfun-galeri {
display: flex;
height: 20rem;
gap: 1rem;
} */

.list-image > div {
flex: 1;
border-radius: 1rem;
background-position: center;
background-repeat: no-repeat;
background-size: auto 100%;
transition: all .8s cubic-bezier(.25, .4, .45, 1.4);

}
.list-image > div:hover {
flex: 5;
}
body{
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient( #3D70FF 0,  #3D70FF 50%, #fff 50%, #fff 100%);
min-height: 100vh;
}
.card
{
margin: 2%;
position: relative;
width: 250px;
height: 330px;
background: #0000;
display: flex;
box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
overflow: hidden;
transition: 0.5s ease-in-out;
}
.card:hover{
width: 400px;
}
.information
{
display:none;
background-color: #fff;
margin: 2%;
border-radius: 5%;
padding: 2%;
}
.card .imgBx
{
position: relative;
min-width: 300px;
height: 100%;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
}
.card .imgBx img
{
max-width: 200px;
transition: 0.5s ease-in-out;
}
.imgBx:hover .information{
display: block !important;
}
@media only screen and (max-width: 768px){
.list-image{
display: flex;
flex-wrap: wrap;

}
body{
display: flex;
flex-wrap: wrap;
/* min-height: 100vh; */
}
.card{
width:100%;
height:100vh;
margin: 0;
}
}